.intro {
  text-align: center;
  font-family: Arial;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 14pt;
  color: white;
}

.heading {
  color: rgb(246, 248, 250);
}
#image-gallery {
  width: 600px;
  margin: 0 auto;
}

#current-image {
  width: 100%;
  height: 460px;
}

#image-thumbs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumb {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
}

body {
  background: linear-gradient(
    106.7deg,
    rgb(151, 150, 240) 12.1%,
    rgb(255, 206, 236) 63.2%
  );
}
